---
import AboutHeroImage from '../assets/me.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A bit about me"
	pubDate={new Date('Februrary 05 2026')}
	heroImage={AboutHeroImage}
>
	<p>
  I'm Zack! A 2x 1st place hackathon winning Computer Science Junior at Wilkes University. 
  My primary focus is in full-stack web development with a 
  focus on cloud technologies and backend systems.
	</p>
  <h2>
    A little bit of (techy) history:
  </h2>
  <p>
  In high school I started as a hobbyist Python programmer, 
  getting my start from YouTube tutorials, and ESPECIALLY 
  sentdex, developer of <a href="https://pythonprogramming.net">pythonprogramming.net</a>,
  where I learned my fundamentals in Python. I went on to follow his Game Developemnt
  tutorial and learned how to code simple games in PyGame. While attending school, I 
  participated in the STEM FTC Robotics club, where I trained a TensorFlow vision model to 
  recognize patterns and respond autonomously.
  </p>
  <p>
  After coming into Wilkes as a Computer Science Major (a stark contrast from my 
  original plans of being a music teacher, a decision defined by my time in Robotics),
  I was able to explore many subfields of Computer Science. I kept returning to
  web development for two main reasons:
    <ul>
      <li>Diversity of technology</li>
      <li>Flexibility in application</li>
    </ul>
    So what does this mean? I could talk all day about this sorta stuff, but I'll save it as
    a reason to populate my <a href="/blog">blog</a>. The tldr is: web development ended
    up being a great fit for my work-style, and cloud technology is even MORE AWESOME
    for how accessible it makes the entire process of deploying a full stack application for anyone getting
    into web and/or platform development.
  </p>
  <p>
  In my time at university, I've attended and won 1st place 
  on 2 separeate hackathons with small teams of 3 and 4 by learning 
  and growing in exciting and enlightening ways. I
  enjoy collaborating with other developers on projects and
  likewise the experiences gained from teaching and learning
  development techniques or habits from collaborative developers. I've
  also taken up the Math and Computer Science (Math/CS club) at Wilkes 
  as President and have grown club involvement with events and collaborations
  with other clubs including the Chemistry club and IEEE Club.
  </p>
  <h2>
    The non-techy details:
  </h2>
  <p>
  Outside of the tech world, I'm also a musician and a multi-instrumentalist! 
  My primary instruments are clarinet for 11 years, and Tenor Saxophone for 7
  years. I've also played with many of the other woodwind instruments including
  Bass Clarinet, Eb Clarinet (Eefer), Alto Sax, Soprano Sax, Flute, and Piccolo. 
  I've also played acoustic guitar, upright bass, piano, and plenty of ethnic instruments
  including the <a href="https://en.wikipedia.org/wiki/Dizi_(instrument)">Dizi</a>, and 
  <a href="https://en.wikipedia.org/wiki/Ocarina">Ocarina</a>. Now I'm a performing bass 
  vocalist for the Wilkes Chamber Singers, the <a href="https://choralsociety.net">Choral Society of Northest Pennsylvania</a>,
  and <a href="https://www.ststephenswb.org">St. Stephen's Episcopal Church</a>. I also recently
  have gotten into <a href="https://windworksdesign.com/basics.html">Windsynths</a>. 
  </p>
  </Layout>
